# connection string to MYSQL Server
DB_CONNECTION_STRING='mysql://user:password@eu-central.connect.psdb.cloud/openpodcast?ssl={"rejectUnauthorized":true}'

# MYSQL connection can be also specified in its own variables
MYSQL_HOST=eu-central.connect.psdb.cloud
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=openpodcast
MYSQL_PORT=3306
MYSQL_OPTIONS='?ssl={"rejectUnauthorized":true}'

# it is also possible to specify all values in files,
# e.g. the password is specified in a file
MYSQL_PASSWORD_FILE=/run/secrets/mysql_password

# defines the port on which the server will listen, default is 8080
PORT=8080